

NET "clr" IOSTANDARD = LVCMOS18;
NET "clk" IOSTANDARD = LVCMOS18;
NET "d" IOSTANDARD = LVCMOS18;
NET "pre" IOSTANDARD = LVCMOS18;
NET "q" IOSTANDARD = LVCMOS18;
NET "qn" IOSTANDARD = LVCMOS18;
NET "clk" PULLDOWN;
NET "clr" PULLDOWN;
NET "d" PULLDOWN;
NET "pre" PULLDOWN;


NET "q" LOC = R1;
NET "qn" LOC = P2;
NET "pre" LOC = T5;
NET "clr" LOC = V8;
NET "clk" LOC = R4;
NET "d" LOC = W4;
